# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Expo/React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Build
build/
dist/

# Logs
logs/
*.log

# Temp files
.tmp/
.temp/
